
body{
    background-color: #F1ECC3;
}
h1{
    text-align: center;
    border: 20px solid #C9D8B6;
    border-radius: 5%;
    padding: 20px;
}

p{
    font-size: x-large;
}

.caption{
    font-size: x-small;
    margin-top: 0px;
    font-weight: bold;
}
